#tablecenter h2{
    text-align: center;
}
.corpocompare h1{
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    color: white;
}
#btn{
    margin-bottom: 50px;
}
.corpocompare p{
    text-align: center;
    color: red;
    font-size: 32px;
}
.corpocompare select{
    display: block;
    color: black;
    width: 35%;
    height: 35px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    font-size: 28px;
}
.corpocompare #center{
    display: block;
    margin-left: 40%;
}
.corpocompare button{
    margin-top: 30px;
    display: block;
    margin-left: 42.5%;
    width: 15%;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(139, 0, 0, 0.7);
    border-style: none;
    color: white;
    border-radius: 5px;
}
.corpocompare button:hover{
    box-shadow: 0 0 10px white;
    border-style: solid;
    border-color: white;
}

#table{
    margin: auto;
    width: 99%;
    background-color: cadetblue;
    height: 800px;
}
.grid{
    display: block;
    margin: auto;
    
}
.corpocompare #loading{
    font-family: Arial;
    background-color: white;
    color: black;
    text-align: center;
    width: 5%;
    margin-top: -5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50em;
}
.corpocompare h3{
    color: white;
}
.body{
    background-color: white;
}

.body td{
    height: 50px;
    width: 5%;
}
#release, #launch_price, #manufacturing_process, #thermal_design_power,
#socket, #cores, #threads, #base_frequency, #turbo_frequency, #turbo_frequency,
#turbo_frequency_per_core, #cache, #multiplier, #turbo_multiplier, #bus_speed,
#instruction, #pci_express, #integrated_graphics, #cinebench_r15_single_core,
#cinebench_r15_multi_core, #passmark_single_core, #passmark_multi_core,
#maximum_temperature{
    text-align: center;
}
#instructions{
    color: #2F4F4F;
}
.body h1{
    text-align: center;
}
.body h2{
    text-align: center;
    color: black;
}
#lightgreen{
    background-color: #F0FFF0;
}
#yellowtext{
    color: #FFD700;
}
#redtext{
    color: #FF0000;
}
.body #table2{
    margin: auto;
    width: 80%;
    border-width: 0;
}
#tabletitle{
    margin: auto;
    width: 80%;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    margin-bottom: 40px;
}
#greentext{
    color: #008000;
}
#darkcyantext{
    color: darkcyan;
}
#purpletext{
    color: #C71585;
}
.body #center{
    text-align: center;
    color: black;
    font-family: Arial;
}
@media screen and (max-width: 60em) {
.body #table2{
    width: 98%;
}
#tabletitle{
    width: 98%;
}
}


@media screen and (max-width: 60em) {
.corpocompare button{
    width: 50%;
    margin-left: 25%;
}
.corpocompare select{
    width: 80%;
    height: 40px;
    display: block;
}
.grid{
    display: block;
    margin: auto;
}
.corpocompare h3{
    text-align: center;
}
.corpocompare #loading{
    width: 20%;
}

.corpocompare #center{
    margin-left: 15%;
}
}