.corpocompare h1{
    text-align: center;
    font-family: Arial;
    font-weight: 600;
    color: white;
}
.corpocompare p{
    text-align: center;
    color: red;
    font-size: 32px;
}
.corpocompare select{
    display: block;
    color: black;
    width: 35%;
    height: 35px;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    font-size: 28px;
}
.corpocompare #center{
    display: block;
    margin-left: 40%;
}
.corpocompare button{
    margin-top: 30px;
    display: block;
    margin-left: 42.5%;
    width: 15%;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    background-color: rgba(139, 0, 0, 0.7);
    border-style: none;
    color: white;
    border-radius: 5px;
}
.corpocompare button:hover{
    box-shadow: 0 0 10px white;
    border-style: solid;
    border-color: white;
}

#table{
    margin: auto;
    width: 99%;
    background-color: cadetblue;
    height: 800px;
}
.grid{
    display: block;
    margin: auto;
    
}
.corpocompare #loading{
    font-family: Arial;
    background-color: white;
    color: black;
    text-align: center;
    width: 5%;
    margin-top: -5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50em;
}
.corpocompare h3{
    color: white;
}

@media screen and (max-width: 60em) {
.corpocompare button{
    width: 50%;
    margin-left: 25%;
}
.corpocompare select{
    width: 100%;
    height: 40px;
    display: block;
}
.grid{
    display: block;
    margin: auto;
}
.corpocompare h3{
    text-align: center;
}
.corpocompare #loading{
    width: 20%;
}

.corpocompare #center{
    margin: 0;
}
}